body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-container {
  direction: rtl;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #dad4d4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #d6738c;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 15px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-top: 15px; */
}


.col-container{
  direction: rtl;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #dad4d462;
  border-radius: 10px;
  border: 1px solid #dad4d4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.col-container > .col{
  width: 50%;
  /* float: right; */
  height: 45px;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #d6738c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bf5d78;
}
